<h1>Hello World</h1>
<div id='content'>

</div>

<script>
  $(document).ready( function () {
    var FEEDS = JSON.parse($("#booted_feeds_json").html());
    NR.initialize($("#content"), FEEDS);
  });
</script>